@font-face {
    font-family: 'icomoon';
    src: url('../icomoon/fonts/icomoon.eot?ee4plc');
    src: url('../icomoon/fonts/icomoon.eot?ee4plc#iefix') format('embedded-opentype'), url('../icomoon/fonts/icomoon.ttf?ee4plc') format('truetype'), url('../icomoon/fonts/icomoon.woff?ee4plc') format('woff'), url('../icomoon/fonts/icomoon.svg?ee4plc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "iconfont";
    /* Project id 3944952 */
    src: url('../iconfont/iconfont.woff2?t=1690022443655') format('woff2'), url('../iconfont/iconfont.woff?t=1690022443655') format('woff'), url('../iconfont/iconfont.ttf?t=1690022443655') format('truetype');
}

.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 84px;
    border-bottom: 2px solid #c81523;
}

.logo {
    padding-top: 18px;
}

.registerarea {
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.registerarea h3 {
    padding: 0 10px;
    height: 41px;
    border-bottom: 1px solid #ccc;
    line-height: 41px;
    font-size: 18px;
    font-weight: normal;
    color: #333;
    background-color: #ececec;
}

.login {
    float: right;
    font-size: 14px;
}

.login a {
    font-size: 14px;
    color: #c81523;
}

.reg_form {
    width: 600px;
    margin: 50px auto 0;
}

.reg_form ul li {
    position: relative;
    margin-bottom: 20px;
}

.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}

.reg_form ul li .inp {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}

.code {
    position: absolute;
    right: 280px;
    line-height: 37px;
    color: #40b83f;
}

.code:hover {
    color: #ccc !important;
}

.error {
    color: #c81523;
}

.success {
    color: green;
}


/* .error_icon::before  */

.error_icon,
.success_icon {
    display: inline-block;
    vertical-align: middle;
    margin: -2px 4px 0 10px;
    width: 20px;
    height: 20px;
    background: url(../img/error.png)no-repeat;
}

.success_icon {
    background: url(../img/success.png)no-repeat;
}

.safe {
    padding-left: 170px;
}

.safe em {
    padding: 0 12px;
    color: #fff;
}

.safe .ruo {
    background-color: #de1111;
}

.safe .zhong {
    background-color: #40b83f;
}

.safe .qiang {
    background-color: #f79100;
}

.agree {
    padding-left: 88px;
}

.agree input {
    margin-right: 12px;
    vertical-align: middle;
}

.icon-queren::before,
.icon-queren2::before {
    font-family: 'iconfont';
    content: '\e622';
    margin-right: 5px;
    font-size: 14px;
}

.icon-queren2::before {
    content: '\e656';
    color: #40b83f;
}

.agree a {
    color: #1ba1e6;
}

.btn {
    margin: 30px 0 0 70px;
    width: 200px;
    height: 34px;
    background-color: #c81623;
    font-size: 14px;
    color: #fff;
}


/* footer */

.mod_copyright {
    text-align: center;
    padding-top: 20px;
}

.links {
    margin-bottom: 15px;
}

.links a {
    margin: 0 10px;
}

.copyright {
    line-height: 20px;
}