@font-face {
  font-family: "iconfont"; /* Project id 3944952 */
  src: url('iconfont.woff2?t=1690022443655') format('woff2'),
       url('iconfont.woff?t=1690022443655') format('woff'),
       url('iconfont.ttf?t=1690022443655') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-roundcheckfill:before {
  content: "\e656";
}

.icon-round:before {
  content: "\e622";
}

.icon-cuowu-:before {
  content: "\e626";
}

.icon-wrong:before {
  content: "\e609";
}

.icon-cloud-wrongguanbi:before {
  content: "\e84e";
}

.icon-correct:before {
  content: "\e65b";
}

.icon-correct1:before {
  content: "\e61f";
}

.icon-zhengque-correct:before {
  content: "\e64b";
}

.icon-icon_correct:before {
  content: "\e65e";
}

.icon-cloud-correctzhengque:before {
  content: "\e84f";
}

.icon-file-correctwenjian-zhengque:before {
  content: "\e850";
}

.icon-add:before {
  content: "\e661";
}

.icon-adduser:before {
  content: "\e7ae";
}

.icon-addteam:before {
  content: "\e7af";
}

.icon-folder-add:before {
  content: "\e7d1";
}

.icon-addition:before {
  content: "\e6e0";
}

.icon-add1:before {
  content: "\e6aa";
}

.icon-cart-add:before {
  content: "\e824";
}

.icon-category-add:before {
  content: "\e84d";
}

.icon-delete:before {
  content: "\e67e";
}

.icon-delete1:before {
  content: "\e625";
}

.icon-icons-:before {
  content: "\e67a";
}

.icon-delete2:before {
  content: "\e62e";
}

.icon-delete_fill:before {
  content: "\e6f2";
}

.icon-delete3:before {
  content: "\e66a";
}

.icon-rightarrow:before {
  content: "\e601";
}

.icon--right-arrow-:before {
  content: "\e60a";
}

.icon-right-arrow:before {
  content: "\e65d";
}

.icon-bx-right-arrow-alt:before {
  content: "\e66c";
}

.icon-label-right-arrow-outline:before {
  content: "\e602";
}

.icon-bottom01:before {
  content: "\e6d2";
}

.icon-set-bottom:before {
  content: "\e624";
}

.icon-arrow-alt-to-bottom:before {
  content: "\e682";
}

.icon-bottom:before {
  content: "\e620";
}

.icon-backtop:before {
  content: "\e6c6";
}

.icon-fanhuidingbu1:before {
  content: "\e66f";
}

.icon-back-top1:before {
  content: "\e780";
}

.icon-back-top1_fill:before {
  content: "\e781";
}

.icon-search:before {
  content: "\e65c";
}

.icon-search1:before {
  content: "\e61e";
}

.icon-linggan:before {
  content: "\e628";
}

.icon-yinyong:before {
  content: "\e7f1";
}

.icon-mobile:before {
  content: "\e7b2";
}

.icon-linggandengpao:before {
  content: "\e631";
}

.icon-zhongyaotishi:before {
  content: "\e6a1";
}

.icon-Vue:before {
  content: "\e799";
}

.icon-deng:before {
  content: "\e64d";
}

.icon-search2:before {
  content: "\e61d";
}

.icon-yinyongmoban:before {
  content: "\e69f";
}

.icon-mobile1:before {
  content: "\e600";
}

.icon-filecss:before {
  content: "\e700";
}

.icon-css:before {
  content: "\e743";
}

.icon-html:before {
  content: "\e6ba";
}

.icon-html1:before {
  content: "\e65a";
}

.icon-html2:before {
  content: "\e8aa";
}

.icon-file-css:before {
  content: "\e68c";
}

.icon-html-:before {
  content: "\e646";
}

.icon-HTML:before {
  content: "\e61c";
}

.icon-java-script:before {
  content: "\e810";
}

.icon-html3:before {
  content: "\e8b1";
}

.icon-bxl-javascript:before {
  content: "\e6e7";
}

.icon-javascript:before {
  content: "\e66b";
}

.icon-javascript-map:before {
  content: "\e676";
}

.icon-ArrowRight:before {
  content: "\e60f";
}

.icon-Arrow-down:before {
  content: "\e610";
}

.icon-Calendar:before {
  content: "\e611";
}

.icon-Check:before {
  content: "\e612";
}

.icon-Arrow-up:before {
  content: "\e613";
}

.icon-a-Chevron-Left2:before {
  content: "\e614";
}

.icon-Chevron-down:before {
  content: "\e615";
}

.icon-Chevron-up:before {
  content: "\e616";
}

.icon-a-Chevron-Right2:before {
  content: "\e617";
}

.icon-CheckMark:before {
  content: "\e618";
}

.icon-Chevron-Right:before {
  content: "\e619";
}

.icon-Clock:before {
  content: "\e61a";
}

.icon-Eye:before {
  content: "\e61b";
}

