@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ee4plc');
  src:  url('fonts/icomoon.eot?ee4plc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ee4plc') format('truetype'),
    url('fonts/icomoon.woff?ee4plc') format('woff'),
    url('fonts/icomoon.svg?ee4plc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye-hidden:before {
  content: "\e962";
}
.icon-eye-hidden1:before {
  content: "\e963";
}
.icon-eye1:before {
  content: "\e964";
}
.icon-eye2:before {
  content: "\e965";
}
.icon-document-edit:before {
  content: "\e94a";
}
.icon-document-edit1:before {
  content: "\e94b";
}
.icon-document-file-html:before {
  content: "\e94c";
}
.icon-document-file-html1:before {
  content: "\e94d";
}
.icon-file-html:before {
  content: "\e94e";
}
.icon-file-html1:before {
  content: "\e94f";
}
.icon-document-file-css:before {
  content: "\e950";
}
.icon-document-file-css1:before {
  content: "\e951";
}
.icon-file-css:before {
  content: "\e952";
}
.icon-file-css1:before {
  content: "\e953";
}
.icon-notice:before {
  content: "\e933";
}
.icon-warning1:before {
  content: "\e933";
}
.icon-explanation-mark:before {
  content: "\e933";
}
.icon-notification:before {
  content: "\e933";
}
.icon-notice1:before {
  content: "\e934";
}
.icon-warning2:before {
  content: "\e934";
}
.icon-explanation-mark1:before {
  content: "\e934";
}
.icon-notification1:before {
  content: "\e934";
}
.icon-warning:before {
  content: "\e930";
}
.icon-cancel:before {
  content: "\e922";
}
.icon-close:before {
  content: "\e922";
}
.icon-remove:before {
  content: "\e922";
}
.icon-dismiss:before {
  content: "\e922";
}
.icon-cancel1:before {
  content: "\e923";
}
.icon-close1:before {
  content: "\e923";
}
.icon-cancel2:before {
  content: "\e924";
}
.icon-close2:before {
  content: "\e924";
}
.icon-pivot_table_chart:before {
  content: "\e921";
}
.icon-lightbulb:before {
  content: "\e919";
}
.icon-arrow-down-circle:before {
  content: "\e900";
}
.icon-edit-3:before {
  content: "\e901";
}
.icon-eye:before {
  content: "\e902";
}
.icon-map-pin:before {
  content: "\e903";
}
.icon-play:before {
  content: "\e904";
}
.icon-play-circle:before {
  content: "\e905";
}
.icon-power:before {
  content: "\e906";
}
.icon-thumbs-up:before {
  content: "\e907";
}
.icon-unlock:before {
  content: "\e908";
}
.icon-align-center:before {
  content: "\e909";
}
.icon-align-justify:before {
  content: "\e90a";
}
.icon-align-left:before {
  content: "\e90b";
}
.icon-align-right:before {
  content: "\e90c";
}
.icon-check:before {
  content: "\e90d";
}
.icon-chevron-down:before {
  content: "\e90e";
}
.icon-chevron-left:before {
  content: "\e90f";
}
.icon-chevron-right:before {
  content: "\e910";
}
.icon-chevron-up:before {
  content: "\e911";
}
.icon-th-small:before {
  content: "\e91a";
}
.icon-th-menu:before {
  content: "\e91b";
}
.icon-th-list:before {
  content: "\e91c";
}
.icon-th-large:before {
  content: "\e91d";
}
.icon-pin:before {
  content: "\e91e";
}
.icon-times:before {
  content: "\e927";
}
.icon-plus:before {
  content: "\e928";
}
.icon-minus:before {
  content: "\e929";
}
.icon-equals:before {
  content: "\e92a";
}
.icon-divide:before {
  content: "\e92b";
}
.icon-chevron-right1:before {
  content: "\e92c";
}
.icon-chevron-left1:before {
  content: "\e92d";
}
.icon-arrow-right-thick:before {
  content: "\e92e";
}
.icon-arrow-left-thick:before {
  content: "\e92f";
}
.icon-pig:before {
  content: "\e932";
}
.icon-money:before {
  content: "\e932";
}
.icon-bank:before {
  content: "\e932";
}
.icon-vpn_key:before {
  content: "\e954";
}
.icon-live_help:before {
  content: "\e935";
}
.icon-unlock1:before {
  content: "\e912";
}
.icon-calculator:before {
  content: "\e943";
}
.icon-warning4:before {
  content: "\e936";
}
.icon-user1:before {
  content: "\e937";
}
.icon-phone:before {
  content: "\e955";
}
.icon-warning-outline:before {
  content: "\e938";
}
.icon-user-outline:before {
  content: "\e939";
}
.icon-unlock2:before {
  content: "\e944";
}
.icon-alert-triangle:before {
  content: "\e93a";
}
.icon-help-circle:before {
  content: "\e93b";
}
.icon-phone-call:before {
  content: "\e956";
}
.icon-user:before {
  content: "\e931";
}
.icon-user-plus:before {
  content: "\e957";
}
.icon-users:before {
  content: "\e93c";
}
.icon-cross:before {
  content: "\e925";
}
.icon-arrow-thin-down:before {
  content: "\e913";
}
.icon-arrow-thin-left:before {
  content: "\e914";
}
.icon-arrow-thin-right:before {
  content: "\e915";
}
.icon-arrow-thin-up:before {
  content: "\e916";
}
.icon-block:before {
  content: "\e917";
}
.icon-checkmark-outline:before {
  content: "\e918";
}
.icon-close-solid:before {
  content: "\e926";
}
.icon-help:before {
  content: "\e93d";
}
.icon-question1:before {
  content: "\e93e";
}
.icon-pacman:before {
  content: "\e91f";
}
.icon-coin-dollar:before {
  content: "\e93f";
}
.icon-coin-euro:before {
  content: "\e940";
}
.icon-coin-pound:before {
  content: "\e941";
}
.icon-coin-yen:before {
  content: "\e942";
}
.icon-mobile2:before {
  content: "\e959";
}
.icon-wondering:before {
  content: "\e9fb";
}
.icon-warning3:before {
  content: "\ea07";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-check-alt:before {
  content: "\e958";
}
.icon-table:before {
  content: "\e920";
}
.icon-plus-square:before {
  content: "\e95a";
}
.icon-plus-circle:before {
  content: "\e95b";
}
.icon-unlock-alt:before {
  content: "\e95c";
}
.icon-lock:before {
  content: "\e95d";
}
.icon-phone-square:before {
  content: "\e95e";
}
.icon-check-circle:before {
  content: "\e95f";
}
.icon-check-square:before {
  content: "\e960";
}
.icon-css3:before {
  content: "\e961";
}
.icon-user-circle-o:before {
  content: "\e945";
}
.icon-user-circle:before {
  content: "\e946";
}
.icon-check-circle1:before {
  content: "\e947";
}
.icon-question-circle:before {
  content: "\e948";
}
.icon-question:before {
  content: "\e949";
}
